:root {
    --primary-color: #333;
    --hover-bg-color: #ddd;
    --active-bg-color: #bbb;
    --result-bg-color: #f3f3f3;
    --modal-bg-color: rgba(219, 199, 241, 0.918);
    --border-color: #ddd;
    --modal-border-color: #130404;
    --border-radius: 4px;
    --padding-standard: 10px;
    --margin-standard: 10px;
}

#copy {
    color: var(--primary-color);
    padding: 8px 12px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#copy:hover {
    background-color: var(--hover-bg-color);
}

#copy:active {
    background-color: var(--active-bg-color);
}

#result {
    overflow: auto;
    padding: var(--padding-standard);
    margin: var(--margin-standard) 0;
    border-radius: var(--border-radius);
    background-color: var(--result-bg-color);
    border: 1px solid var(--border-color);
}

.modal {
    background-color: var(--modal-bg-color);
    border: 2px solid var(--modal-border-color);
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: var(--padding-standard);
    border-radius: var(--border-radius);
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: var(--margin-standard) 0;
}

#lengthValue {
    display: inline-block;
    padding: 4px 8px;
    margin-left: 8px;
    border-radius: 4px;
    background-color: #f3f3f3;

}